com.cognosis.spotify-playlist-ops.sdPlugin/bin/
com.cognosis.spotify-playlist-ops.sdPlugin/logs/
com.cognosis.spotify-playlist-ops.sdPlugin/pi/
com.cognosis.spotify-playlist-ops.sdPlugin/com.cognosis.spotify-playlist-ops.streamDeckPlugin
node_modules/
package-lock.json
TODO
.vscode/
.DS_Store
